/*
 * Settings
 */


// Colors
$btn-foreground: #FFF
$btn-background: $color-info

// Relative change in button color when hovering
$btn-hover-change: -6

// Box Model
$btn-margin: 0.5em
$btn-border-width: 0.1875em
$btn-border-radius: 0.25em
$btn-padding: 0.5em


/*
 * Definitions
 */


// Modifications to buttons when hovering
@mixin button-hover($fg,$bg,$change)
  &:hover
    @if $change > 0
      background: lighten($bg, $change)
      border-color: lighten($bg, $change)
    @else
      background: darken($bg,-1*$change)
      border-color: darken($bg, -1*$change)

// Add color to buttons
@mixin button-colors($fg,$bg,$change)
  background: $bg
  border-color: $bg
  @include button-hover($fg,$bg,$change)

// Default button attributes
button,.btn,[type=submit],[type=reset]
  color: $btn-foreground
  display: inline-block
  text-align: center
  padding: $btn-padding
  margin: $btn-margin
  text-decoration: none
  border: $btn-border-width solid $btn-background
  @include button-colors($btn-foreground,$btn-background,$btn-hover-change)

// Button Group Attributes
.btn-group
  display: flex
  > .btn
    flex: 1
.btn-group.stack
  flex-direction: column
  > .btn
    margin-bottom: $btn-margin

// Color Modifiers
.btn.alert
  @include button-colors($btn-foreground, $color-alert,$btn-hover-change)
.btn.error
  @include button-colors($btn-foreground, $color-failure,$btn-hover-change)
.btn.success
  @include button-colors($btn-foreground, $color-success,$btn-hover-change)

// Hollow Color Modifiers
.btn.hollow, .btn-group.hollow > .btn
  color: $btn-background
  background: $btn-foreground
.btn.hollow:hover,.btn-group.hollow > .btn:hover
  color: $btn-foreground
  background: darken($btn-background,-1*$btn-hover-change)
  border-color: darken($btn-background, -1*$btn-hover-change)

// Button Shape Modifiers
.btn.expand
  margin: $btn-margin 0
.btn.radius, .btn-group.radius > .btn
  border-radius: $btn-border-radius
