@charset "UTF-8";
.primary {
  border-color: #C0F;
  color: #F7F7F7;
  background-color: #C0F; }

.secondary {
  border-color: #19F;
  color: #F7F7F7;
  background-color: #19F; }

.tertiary {
  border-color: #EEE;
  color: #333;
  background-color: #EEE; }

.alert {
  border-color: #F90;
  color: #F7F7F7;
  background-color: #F90; }

.failure {
  border-color: #E00;
  color: #F7F7F7;
  background-color: #E00; }

.success {
  border-color: #0D0;
  color: #F7F7F7;
  background-color: #0D0; }

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
  border: 0.1875rem solid #19F;
  color: #F7F7F7;
  background: #19F; }
  .btn:hover {
    background: #007edd;
    border-color: #007edd; }

.btn-expand {
  width: 100%; }

.btn.alert:hover {
  background: #cc7a00;
  border-color: #cc7a00; }

.btn.failure:hover {
  background: #bb0000;
  border-color: #bb0000; }

.btn.success:hover {
  background: #00aa00;
  border-color: #00aa00; }

.btn-hollow, .btn-hollow > .btn {
  color: #19F;
  background: #F7F7F7; }

.btn-hollow:hover, .btn-hollow > .btn:hover {
  color: #F7F7F7;
  background: #19F;
  border-color: #19F; }

.btn-group {
  display: flex;
  border: 0.1875rem solid #19F;
  background: #F7F7F7; }
  .btn-group > .btn {
    border: none;
    flex: 1;
    margin-right: 0.1875rem; }
  .btn-group :last-child {
    margin: 0; }

.btn-group.btn-hollow {
  background: #19F; }

.btn-stack {
  flex-direction: column; }
  .btn-stack .btn {
    margin-right: 0;
    margin-bottom: 0.1875rem; }
  .btn-stack :last-child {
    margin: 0; }

.btn-radius {
  border-radius: 0.25em; }

.btn-group.btn-radius > * {
  border-radius: 0.1875em; }

.primary {
  border-color: #C0F;
  color: #F7F7F7;
  background-color: #C0F; }

.secondary {
  border-color: #19F;
  color: #F7F7F7;
  background-color: #19F; }

.tertiary {
  border-color: #EEE;
  color: #333;
  background-color: #EEE; }

.alert {
  border-color: #F90;
  color: #F7F7F7;
  background-color: #F90; }

.failure {
  border-color: #E00;
  color: #F7F7F7;
  background-color: #E00; }

.success {
  border-color: #0D0;
  color: #F7F7F7;
  background-color: #0D0; }

body {
  margin: 0 auto;
  padding: 0;
  max-width: 62.5em; }

a {
  cursor: pointer; }

* {
  box-sizing: border-box;
  font-family: sans-serif; }

.grid-row, .grid-col {
  width: 100%;
  display: flex; }

.grid-col {
  flex-direction: column; }

.center {
  margin-left: auto;
  margin-right: auto; }

.left {
  float: left; }

.right {
  float: right; }

.expand {
  width: 100%; }

.pad {
  padding: 1em; }

.primary {
  border-color: #C0F;
  color: #F7F7F7;
  background-color: #C0F; }

.secondary {
  border-color: #19F;
  color: #F7F7F7;
  background-color: #19F; }

.tertiary {
  border-color: #EEE;
  color: #333;
  background-color: #EEE; }

.alert {
  border-color: #F90;
  color: #F7F7F7;
  background-color: #F90; }

.failure {
  border-color: #E00;
  color: #F7F7F7;
  background-color: #E00; }

.success {
  border-color: #0D0;
  color: #F7F7F7;
  background-color: #0D0; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

blockquote, code {
  color: #333;
  background: #EEE;
  border: 0.125em dotted #b3b3b3;
  font-style: italic;
  padding: 0.5em; }
  blockquote cite, code cite {
    display: block;
    font-style: italic; }
    blockquote cite::before, code cite::before {
      content: "— "; }

.list-hide-bullet {
  list-style-type: none; }

.tiny {
  font-size: x-small; }

.small {
  font-size: small; }

.large {
  font-size: x-large; }

/************************* */
/* Size-specific settings */
/************************* */
.hide-sm, .show-md-only, .show-lg-only {
  display: none; }

.show-sm-only {
  display: inherit; }

.sm-1 {
  flex: 1; }

.sm-2 {
  flex: 2; }

.sm-3 {
  flex: 3; }

.sm-4 {
  flex: 4; }

.sm-5 {
  flex: 5; }

.sm-6 {
  flex: 6; }

@media only screen and (min-width: 40em) {
  .hide-sm, .show-md-only {
    display: inherit; }

  .hide-md, .show-sm-only {
    display: none; }

  .md-1 {
    flex: 1; }

  .md-2 {
    flex: 2; }

  .md-3 {
    flex: 3; }

  .md-4 {
    flex: 4; }

  .md-5 {
    flex: 5; }

  .md-6 {
    flex: 6; } }
@media only screen and (min-width: 72.5em) {
  .hide-lg, .show-sm-only, .show-md-only {
    display: none; }

  .hide-md, .show-lg-only {
    display: inherit; }

  .lg-1 {
    flex: 1; }

  .lg-2 {
    flex: 2; }

  .lg-3 {
    flex: 3; }

  .lg-4 {
    flex: 4; }

  .lg-5 {
    flex: 5; }

  .lg-6 {
    flex: 6; } }

/*# sourceMappingURL=suckless.css.map */
