@charset "UTF-8";
/* Global Settings */
/* Theme */
/* General - Colors */
/* Decorations */
/* Input */
/* Navigation */
/* Visuals */
/* Module Settings */
/* Base */
/* Decorations */
/* Helpers */
/* Input */
/* Navigation */
/* Structure */
/* Visuals */
/* Module Imports */
/* Base - Colors */
.clr-1 { color: #FFF; background: #A0F; }

.clr-1-i { color: #A0F; background: #FFF; }

.clr-2 { color: #FFF; background: #19F; }

.clr-2-i { color: #19F; background: #FFF; }

.clr-3 { color: #FFF; background: #000; }

.clr-3-i { color: #000; background: #FFF; }

.info { color: #FFF; background: #19F; }

.info-i { color: #19F; background: #FFF; }

.warn { color: #FFF; background: #F90; }

.warn-i { color: #F90; background: #FFF; }

.error { color: #FFF; background: #E00; }

.error-i { color: #E00; background: #FFF; }

.good { color: #FFF; background: #0C0; }

.good-i { color: #0C0; background: #FFF; }

/* Base - Classes */
.hide-bullet, .crumbs, .icons, .sidebar ul { list-style-type: none; }

.inline-list, .btn-group, .crumbs, .icons, .icons > li, .pager, .topbar, .row { display: flex; }

.btn-group.stack, .icons.stack a, .icons.vertical, .blk, .flow, .col, .accordian, .accordian > div { display: flex; flex-direction: column; }

/* Base - General */
body { margin: 0; padding: 0; overflow-x: hidden; }

a { cursor: pointer; color: inherit; text-decoration: none; }

p { padding-bottom: 1rem; }

p a { text-decoration: underline; padding-bottom: 0.25rem; }

* { box-sizing: border-box; font-family: sans-serif; vertical-align: middle; margin: 0; padding: 0; }

span, .fa { vertical-align: initial; }

label::selection { background: inherit; }

label::-moz-selection { background: inherit; }

dt { font-weight: bold; }

dl { margin-left: 1rem; }

html[dir=rtl] p { direction: ltr; }

/* Decorations - Badges */
.badge { height: 1.5rem; width: 1.5rem; text-align: center; margin: 0 0.25rem; border-radius: 1rem; line-height: 1.5rem; }

/* Decorations - Labels */
.label { margin: 0 0 0.5rem; padding: 0.25rem 0.5rem; }

/* Decorations - Progress */
progress { -moz-appearance: none; -webkit-appearance: none; width: 100%; border: none; margin: 0 0 0.5rem; color: #19F; background: #DDD; }
progress::-moz-progress-bar { background: #19F; }
progress::-webkit-progress-value { background: #19F; }
progress::-webkit-progress-bar { background: #DDD; }

/* Helpers - Alignment */
.center { margin-left: auto; margin-right: auto; }

.left { float: left; }

.right { float: right; }

/* Helpers - Box Model */
.expand { width: 100%; }

.limit { max-width: 65rem; }

.pad { padding: 0.75rem; }

.pad-2 { padding: 1.5rem; }

.outline { border: 1px solid; }

/* Helpers - Typography */
h1, h2, h3, h4, h5, h5, h6, span { margin: 0.5em 0; }

h1 { font-size: 2.5rem; text-align: center; }

h2 { font-size: 2rem; border-bottom: 0.125rem solid; }

h3 { font-size: 1.75rem; border-bottom: 1px dashed; }

h4 { font-size: 1.5rem; }

h5 { font-size: 1.25rem; }

h6 { font-size: 1rem; }

.text-center { text-align: center; }

.text-justify { text-align: justify; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.tiny { font-size: 0.75rem; }

.small { font-size: 0.85rem; }

.large { font-size: 1.5rem; }

/* Input - Buttons */
button, .btn, [type=submit], [type=reset] { color: #FFF; display: inline-block; text-align: center; padding: 0.5rem; margin: 0.5rem; text-decoration: none; border: 0.15rem solid #19F; background: #19F; border-color: #19F; }

.btn-group > .btn { flex: 1; }

.btn-group.stack > .btn { margin-bottom: 0.5rem; }

.btn.warn { background: #F90; border-color: #F90; }

.btn.error { background: #E00; border-color: #E00; }

.btn.good { background: #0C0; border-color: #0C0; }

.btn.hollow, .btn-group.hollow > .btn { color: #19F; background: #FFF; }

.btn.expand { margin: 0.5rem 0; }

.btn.radius, .btn-group.radius > .btn { border-radius: 0.25rem; }

/* Input - Forms */
form * { margin: 0 0.5em 0.5em 0; line-height: 1.25em; }

textarea { resize: none; width: 99%; }

select { -moz-appearance: none; -webkit-appearance: none; background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'><path d='M0 0 H4 L2 3 Z'/></svg>") no-repeat; background-size: 0.75rem 0.5rem; background-position: right 0.375rem center; }
select[multiple] { background: none; }

input, select, textarea, .input-group { border: 0.15rem solid #CCC; border-radius: 0.2em; padding: 0.5em 0.75em; }
input:focus, select:focus, textarea:focus, .input-group:focus { border-color: #19F; }

.input-group { display: inline-flex; padding: 0; background: #CCC; border: none; }

.input-group > *, .input-pre > *, .input-post > * { margin: 0; }

.input-pre, .input-post { margin: 0.375em 0.5em; }

html[dir=rtl] select { background-position: left 0.375rem center; }

/* Navigation - Breadcrumbs */
.crumbs li::after { content: "❯"; padding: 0.25rem 0.25rem 0.25rem 0; }
.crumbs li:last-child::after { content: none; }

html[dir=rtl] .crumbs li::after { padding: 0.25rem 0 0.25rem 0.25rem; }

/* Navigation - Icon Bar */
.icons > li { flex: 1; }
.icons .divider { flex: none; border: 1px solid; }
.icons a { flex: 1; text-align: center; padding: 0.75rem; }
.icons a > * { margin: 0 auto; }
.icons.shrink a span { display: none; }
.icons.shrink a:hover span { display: initial; }
.icons.vertical { display: inline-flex; }
.icons.vertical .divider { margin: 0 0.75rem; }

/* Navigation - Pagination */
.pager > a { margin: 0.25rem; padding: 0.375rem 0.75rem; }
.pager > a:hover, .pager > a.here { background: #CCC; border-radius: 0.25rem; }

html[dir=rtl] .pager { flex-direction: row-reverse; }

/* Navigation - Sidebar */
.sidebar { width: 12rem; float: none; position: absolute; color: #FFF; background: #333; border-left: 1px solid #777; border-right: 1px solid #777; }
.sidebar ul { min-height: 100vh; margin-bottom: 1rem; }
.sidebar li { padding: 0.5rem 1rem; }
.sidebar .section { background: #666; margin-top: 1rem; padding: 0.25rem 1rem; font: 10pt monospace; font-weight: bold; text-transform: uppercase; }
.sidebar .section:first-child { margin: 0; }
.sidebar a { display: block; }

.sidebar.left { left: -12rem; }
.sidebar.left:target { left: 0; }

.sidebar.right { right: -12rem; }
.sidebar.right:target { right: 0; }

html[dir=rtl] .sidebar.left { right: -12rem; }
html[dir=rtl] .sidebar.left:target { right: 0; }
html[dir=rtl] .sidebar.right { left: -12rem; }
html[dir=rtl] .sidebar.right:target { left: 0; }

/* Navigation - Top */
[simple-top] { position: fixed; bottom: 1.5rem; right: 1.5rem; padding: 0.75rem; border: 0.125rem solid #FFF; }

html[dir=rtl] [simple-top] { left: 1.5rem; right: auto; }

/* Navigation - Topbar */
.topbar { width: 100%; }
.topbar .icons { flex: 1; justify-content: flex-end; }
.topbar li { flex: 0 auto; }
.topbar a { padding: 0.75rem; border-left: 1px solid #777; }

html[dir=rtl] .topbar a { border-left: none; border-right: 1px solid #777; }

/* Structure - Blocks */
.blk > * { margin: 0.5rem 1%; }

/* Structure - Flow */
.flow { justify-content: center; }
.flow > * { margin: 0.5rem 1%; }

/* Structure Grid */
.row, .col { min-width: 0; width: 100%; }

/* Visuals - Accordian */
.accordian > div { flex: 1; margin: 0.25rem 0; }
.accordian input { display: none; }
.accordian input:checked ~ .col, .accordian input:checked ~ .row { height: initial; }
.accordian input:checked + label:after { content: "▲"; }
.accordian label { padding: 0.75rem; width: 100%; }
.accordian label:after { content: "▼"; float: right; }
.accordian .row, .accordian .col { height: 0; overflow: hidden; }

html[dir=rtl] .accordian label:after { float: left; }

/* Visuals - Inline */
blockquote, code, kbd { color: #333; background: #DDD; border-radius: 0.25rem; padding: 0.25rem 0.5rem; }

blockquote { border: 0.125rem solid #777; }

cite { display: block; }
cite::before { content: "— "; }

code, kbd { font-family: monospace; font-weight: bold; }

code { border: 1px dashed; }

kbd { border: 0.25em outset; }

/* Visuals - Tables */
table { width: 100%; border-collapse: collapse; }
table thead tr { border-bottom: 0.125rem solid #333; }
table th { text-align: left; }
table th, table td { padding: 0.5rem; }

table.striped tr:nth-child(even) { background-color: #E7E7E7; }

.table-responsive { overflow-x: auto; }

html[dir=rtl] table th { text-align: right; }

/* Size-specific settings */
.sm-hide, .md-only, .lg-only { display: none; }

.md-col, .lg-col { flex-direction: row; }

.sm-col { flex-direction: column; }

.sm-1 { flex: 1; }

.sm-2 { flex: 2; }

.sm-3 { flex: 3; }

.sm-4 { flex: 4; }

.sm-5 { flex: 5; }

.sm-6 { flex: 6; }

@media only screen and (min-width: 30rem) { .sm-only, .md-hide { display: none; }
  .sm-hide, .md-only { display: inherit; }
  .sm-col { flex-direction: row; }
  .md-col { flex-direction: column; }
  .blk { flex-wrap: wrap; flex-direction: row; }
  .blk-1 > * { width: 98%; }
  .blk-2 > * { width: 48%; }
  .blk-3 > * { width: 31.333%; }
  .blk-4 > * { width: 23%; }
  .flow { flex-wrap: wrap; flex-direction: row; }
  .flow > * { width: 48%; }
  .md-1 { flex: 1; }
  .md-2 { flex: 2; }
  .md-3 { flex: 3; }
  .md-4 { flex: 4; }
  .md-5 { flex: 5; }
  .md-6 { flex: 6; } }
@media only screen and (min-width: 48rem) { .md-only, .lg-hide { display: none; }
  .md-hide, .lg-only { display: inherit; }
  .md-col { flex-direction: row; }
  .lg-col { flex-direction: column; }
  .flow > * { width: 31.333%; }
  .lg-1 { flex: 1; }
  .lg-2 { flex: 2; }
  .lg-3 { flex: 3; }
  .lg-4 { flex: 4; }
  .lg-5 { flex: 5; }
  .lg-6 { flex: 6; } }

/*# sourceMappingURL=suckless.css.map */
