$btn-foreground: #F7F7F7
$btn-background: darken(#4AF,10)
$btn-padding: 0.5em
$btn-hover-change: -20
$btn-border-width: 0.125em

// Default btn
.btn
  display: inline-block
  color: $btn-foreground
  background: $btn-background
  text-align: center
  vertical-align: middle
  padding: $btn-padding
  margin-right: $btn-padding
  text-decoration: none
  border: $btn-border-width solid $btn-background
.btn:hover
  @if $btn-hover-change > 0
    background: lighten($btn-background, $btn-hover-change)
    border-color: lighten($btn-background, $btn-hover-change)
  @else
    background: darken($btn-background,-1*$btn-hover-change)
    border-color: darken($btn-background, -1*$btn-hover-change)

// Size Modifiers
.btn-tiny
  font-size: x-small
.btn-small
  font-size: small
.btn-large
  font-size: x-large
.btn-expand
  width: 100%

// Color Modifiers
//TODO: Add support for useful color classes

// Hollow Color Modifiers
.btn-hollow, .btn-hollow > .btn
  color: $btn-background
  background: $btn-foreground
.btn-hollow:hover,.btn-hollow > .btn:hover
  color: $btn-foreground
  background: $btn-background
  border-color: $btn-background

// Button Groups
.btn-group
  display: flex
  border: $btn-border-width solid $btn-background
  background: $btn-foreground
  .btn
    border: none
    flex: 1
    margin-right: $btn-border-width
  \:last-child
    margin: 0
.btn-group.btn-hollow
  background: $btn-background

.btn-stack
  flex-direction: column
  .btn
    margin-right: 0
    margin-bottom: $btn-border-width
  \:last-child
    margin: 0

//btn Shape Modifiers
.btn-radius
  border-radius: 0.5em

.btn-group.btn-radius
  > *
    border-radius: 0.375em