$btn-foreground: #F7F7F7
$btn-background: darken(#4AF,10)
$btn-padding: 0.5em
$btn-hover-change: -20
$btn-border-width: 0.125em
$btn-outer-radius: 0.25em
$btn-inner-radius: 0.1875em

$btn-alert-background: #F90
$btn-failure-background: #E00
$btn-success-background: #0D0

@mixin button-colors($fg,$bg,$change)
  color: $fg
  background: $bg
  border-color: $bg
  &:hover
    @if $change > 0
      background: lighten($bg, $change)
      border-color: lighten($bg, $change)
    @else
      background: darken($bg,-1*$change)
      border-color: darken($bg, -1*$change)

// Default btn
.btn
  display: inline-block
  text-align: center
  vertical-align: middle
  padding: $btn-padding
  margin-right: $btn-padding
  text-decoration: none
  border-width: $btn-border-width
  @include button-colors($btn-foreground,$btn-background,$btn-hover-change)

// Size Modifiers
.btn-tiny
  font-size: x-small
.btn-small
  font-size: small
.btn-large
  font-size: x-large
.btn-expand
  width: 100%

// Color Modifiers
.btn-alert
  @include button-colors($btn-foreground, $btn-alert-background,$btn-hover-change)
.btn-failure
  @include button-colors($btn-foreground, $btn-failure-background,$btn-hover-change)
.btn-success
  @include button-colors($btn-foreground, $btn-success-background,$btn-hover-change)


// Hollow Color Modifiers
.btn-hollow, .btn-hollow > .btn
  color: $btn-background
  background: $btn-foreground
.btn-hollow:hover,.btn-hollow > .btn:hover
  color: $btn-foreground
  background: $btn-background
  border-color: $btn-background

// Button Groups
.btn-group
  display: flex
  border: $btn-border-width solid $btn-background
  background: $btn-foreground
  .btn
    border: none
    flex: 1
    margin-right: $btn-border-width
  \:last-child
    margin: 0
.btn-group.btn-hollow
  background: $btn-background

.btn-stack
  flex-direction: column
  .btn
    margin-right: 0
    margin-bottom: $btn-border-width
  \:last-child
    margin: 0

//btn Shape Modifiers
.btn-radius
  border-radius: $btn-outer-radius

.btn-group.btn-radius
  > *
    border-radius: $btn-inner-radius