/*
 * Settings
 */


//First
$color-1-fg: #FFF
$color-1-bg: #C0F
//Second
$color-2-fg: #FFF
$color-2-bg: #19F
//Third
$color-3-fg: #FFF
$color-3-bg: #333

//Status Colors
$color-info: #19F
$color-alert: #F90
$color-failure: #E00
$color-success: #0C0


/*
 * Definitions
 */


@mixin color-pair($name,$fg,$bg)
  .#{$name}
    color: $fg
    background: $bg
  .#{$name}.inv
    color: $bg
    background: $fg

//Main Palette
@include color-pair(clr-1, $color-1-fg, $color-1-bg)
@include color-pair(clr-2, $color-2-fg, $color-2-bg)
@include color-pair(clr-3, $color-3-fg, $color-3-bg)

//Status Palette
@include color-pair(info, $color-1-fg, $color-info)
@include color-pair(alert, $color-1-fg, $color-alert)
@include color-pair(error, $color-1-fg, $color-failure)
@include color-pair(success, $color-1-fg, $color-success)
