@mixin color-pair($name,$fg,$bg)
  .#{$name}
    border-color: $bg
    color: $fg
    background: $bg
  .#{$name}.inv
    border-color: $fg
    color: $bg
    background: $fg

//First
$colors-primary-fg: #FFF
$colors-primary-bg: #C0F
@include color-pair(clr-1,$colors-primary-fg,$colors-primary-bg)

//Second
$colors-secondary-fg: #FFF
$colors-secondary-bg: #19F
@include color-pair(clr-2,$colors-secondary-fg,$colors-secondary-bg)

//Third
$colors-tertiary-fg: #FFF
$colors-tertiary-bg: #333
@include color-pair(clr-3,$colors-tertiary-fg,$colors-tertiary-bg)

//Status
$colors-info: $colors-secondary-bg
$colors-alert: #F90
$colors-failure: #E00
$colors-success: #0C0
@include color-pair(info,$colors-primary-fg,$colors-info)
@include color-pair(alert,$colors-primary-fg,$colors-alert)
@include color-pair(error,$colors-primary-fg,$colors-failure)
@include color-pair(success,$colors-primary-fg,$colors-success)
