.badge
  height: 1.5em
  width: 1.5em
  text-align: center
  border-radius: 1em
  line-height: 1.5em

.label
  padding: 0.25em 0.5em
  margin: 0 0 0.5em
progress
  -moz-appearance: none
  -webkit-appearance: none
  width: 100%
  border: none
  margin: 0 0 0.5em
  color: $colors-secondary-bg
  background: darken($colors-secondary-fg,10%)
  &::-moz-progress-bar
    background: $colors-secondary-bg
  &::-webkit-progress-value
    background: $colors-secondary-bg
  &::-webkit-progress-bar
    background: darken($colors-secondary-fg,10%)
