body
  margin: 0 auto
  padding: 0

a
  cursor: pointer
  color: inherit
  text-decoration: none

p a
  text-decoration: underline
  padding-bottom: 0.25rem

*
  box-sizing: border-box
  font-family: sans-serif
  vertical-align: middle
  margin: 0
  padding: 0

.fa
  vertical-align: initial