$grid-large-min: 48em
$grid-medium-min: 30em
$grid-max: 6

@mixin grid($size)
  @for $cols from 1 through $grid-max
    .#{$size}-#{$cols}
      flex: $cols

.row,.col
  width: 100%
  display: flex
.col
  flex-direction: column
