$grid-cols: 12

@mixin grid-cols($size)
  @for $cols from 1 through $grid-cols
    .#{$size}-#{$cols}
      width: 100%/($grid-cols/$cols)

.row
  width: 100%
  clear: both
  display: table
  > [class*="col-"]
    float: left

@include grid-cols(col)
@media only screen and (min-width: 40em)
  @include grid-cols(col-lg)
  @include grid-cols(col-md)


@media only screen and (min-width: 72.5em)
  @include grid-cols(col-md)
  @include grid-cols(col-lg)
