html[dir=rtl]
  p
    direction: ltr
  table th
    text-align: right
  select
    background-position: left 0.375em center
  .crumbs li::after
    padding: 0.25em 0 0.25em 0.25em
  .pager
    flex-direction: row-reverse