@import _colors
@import _block-grid
@import _button
@import _general
@import _grid
@import _helpers
@import _typography
//@import _menu

/**************************/
/* Size-specific settings */
/**************************/

//default to small
.sm-hide,.md-only,.lg-only
  display: none
@include grid(sm)

//medium settings
@media only screen and (min-width: $grid-medium-min)
  .sm-only,.md-hide,.lg-only
    display: none
  .sm-hide,.md-only
    display: inherit
  @include grid(md)

//large settings
@media only screen and (min-width: $grid-large-min)
  .sm-only,.md-only,.lg-hide
    display: none
  .sm-hide,.md-hide,.lg-only
    display: inherit
  @include grid(lg)