@import _colors
@import _block-grid
@import _button
@import _general
@import _grid
@import _helpers
@import _typography
//@import _menu

/**************************/
/* Size-specific settings */
/**************************/

//default to small
.sm-hide,.md-only,.lg-only
  display: none
.md-col, .lg-col
  flex-direction: row
.sm-col
  flex-direction: column
@include grid(sm)

//medium settings
@media only screen and (min-width: $grid-medium-min)
  .sm-only,.md-hide,.lg-only
    display: none
  .sm-hide,.md-only
    display: inherit
  .sm-col, .lg-col
    flex-direction: row
  .md-col
    flex-direction: column
  @include grid(md)

//large settings
@media only screen and (min-width: $grid-large-min)
  .sm-only,.md-only,.lg-hide
    display: none
  .sm-hide,.md-hide,.lg-only
    display: inherit
  .sm-col, .md-col
    flex-direction: row
  .lg-col
    flex-direction: column
  @include grid(lg)