!!! html5
%html{dir:''}
  %head
    %meta{charset:'utf-8'}
    %meta{name:"viewport", content:"width=device-width initial-scale=1.0"}
    %script{src:"https://use.fontawesome.com/4fe63499e3.js"}
    %link{rel:'stylesheet',type:"text/css",href:"./suckless.min.css"}
  %body
    #top
    %a{href:'#top'}
      %i.fa.fa-chevron-up.clr-3(simple-top=true)
    #menu.sidebar.left
      .row.clr-3.text-center
        %a.sm-1.pad{href:'#'}
          Close Menu
      %ul
        %li.section General
        %li
          %a{href:'general'} Introduction
        %li.section Base
        %li
          %a{href:'base'} Colors
        %li.section Decoration
        %li
          %a{href:'decoration'} Badges
        %li
          %a{href:'decoration#labels'} Labels
        %li
          %a{href:'decoration#progress'} Progress
        %li.section Helpers
        %li
          %a{href:'helpers'} Alignment
        %li
          %a{href:'helpers#box_model'} Box Model
        %li
          %a{href:'helpers#typography'} Typography
        %li.section Input
        %li
          %a{href:'input'} Buttons
        %li
          %a{href:'input#forms'} Forms
        %li.section Navigation
        %li
          %a{href:'navigation'} Breadcrumbs
        %li
          %a{href:'navigation#icon_bar'} Icon Bar
        %li
          %a{href:'navigation#pagination'} Pagination
        %li
          %a{href:'navigation#sidebar'} Sidebar
        %li.section Structure
        %li
          %a{href:'structure'} Blocks
        %li
          %a{href:'structure#flow'} Flow
        %li
          %a{href:'structure#grid'} Grid
        %li.section Visuals
        %li
          %a{href:'visuals'} Accordian
        %li
          %a{href:'visuals#inline'} Inline
        %li
          %a{href:'visuals#table'} Table
    .col
      .topbar.clr-3
        %a{href:'#menu'}
          %i.fa.fa-fw.fa-bars
        %a{href:'/suckless.css'}
          %i.fa.fa-fw.fa-css3
          Suckless.css
        %ul.icons.shrink
          %li
            %a{href:'about'}
              %i.fa.fa-fw.fa-info
              %span About
          %li
            %a{href:'general'}
              %i.fa.fa-fw.fa-book
              %span Docs
          %li
            %a{href:'http://github.com/DataDrake/suckless.css'}
              %i.fa.fa-fw.fa-github
              %span Dev
      .row.limit.center
        .sm-1.md-3.lg-4.col.pad-2
          %h1 Base
          %h2{id:'colors'} Colors
          .flow
            .col.info-i.outline
              .info.pad
                %b Motivation
              .pad
                %b
                  As a designer the use of color may transform a boring
                  black and white canvas into something extraordinary.
            .col.good-i.outline
              .good.pad
                %b Philosophy
              .pad
                %b
                  Colors should be applied at whatever scope they are
                  needed. Rules for colors should never involve
                  anything that is unrelated to color.
          %h3 Swatches
          %h6 Description
          .pad
            %p
              Three custom color classes are provided by default. They
              may serve as the basis for a color palette and their
              specific values are set according to the imported theme.
              More colors may be defined using the included mixin.
          .flow.text-center
            .col
              .sm-1
                %h6 First
              .sm-1.pad.clr-1
                %b .clr-1
              .sm-1.pad.clr-1-i.outline
                %b .clr-1-i
            .col
              .sm-1
                %h6 Second
              .sm-1.pad.clr-2
                %b .clr-2
              .sm-1.pad.clr-2-i.outline
                %b .clr-2-i
            .col
              .sm-1
                %h6 Third
              .sm-1.pad.clr-3
                %b .clr-3
              .sm-1.pad.clr-3-i.outline
                %b .clr-3-i
          %h3 Statuses
          %h6 Description
          .pad
            %p
              Four status color classes are provided by default. These
              classes may be used as visual indicators that a
              particular status is being expressed by the contents.
          .flow
            .col.good-i.outline
              .pad.good
                %b .good
              .pad
                %b
                  The contents indicate that something positive is being
                  expressed, ie. an operation completed successfully.
            .col.warn-i.outline
              .pad.warn
                %b .warn
              .pad
                %b
                  The contents indicate that a potential concern is being
                  expressed and that the viewer should take note.
            .col.error-i.outline
              .pad.error
                %b .error
              .pad
                %b
                  The contents indicate the presence of a failure or the
                  potential for future failure.
            .col.info-i.outline
              .pad.info
                %b .info
              .pad
                %b
                  The contents indicate some relevant information that a
                  viewer might find useful, but is neutral in severity.
          %h3 Mixins
          %dl
            %dt @mixin color($name,$fg,$bg)
            %dd Create a new color class and it's inverted counterpart
            %dl
              %dt $name
              %dd Name of the class
              %dt $fg
              %dd
                Foreground color for normal, Background color for
                inverse
              %dt $bg
              %dd
                Background color for normal, Foreground color for
                inverse
    %footer
      .text-center.clr-1.pad
        %p
          Copyright &copy; 2017
          %a{href: 'mailto:bmeyers@datadrake.com',style:'color:#FFF'} Bryan T. Meyers