!!! html5
%html
  %head
    %link{rel:'stylesheet',type:"text/css",href:"css/suckless.css"}
  %body
    .row.primary
      .btn-group.expand
        %a.btn Suckless.css
        %a.btn Grid
        %a.btn Buttons
    %h1 Grid
    %h2 Multipliers
    .grid-row.pad.text-center
      .col-1x.primary
        %h4 1x
    .grid-row.pad.text-center
      .col-1x.primary
        %h4 1x
      .col-1x.secondary
        %h4 1x
    .grid-row.pad.text-center
      .col-1x.primary
        %h4 1x
      .col-1x.secondary
        %h4 1x
      .col-1x.primary
        %h4 1x
    .grid-row.pad.text-center
      .col-1x.primary
        %h4 1x
      .col-2x.secondary
        %h4 2x
      .col-1x.primary
        %h4 1x
    .grid-row.pad.text-center
      .col-1x.primary
        %h4 1x
      .col-6x.secondary
        %h4 6x
    %h2 Sizes
    .grid-row.pad.text-center
      .col-1x.col-lg-1x.primary
        %h4 1x
      .col-1x.col-md-2x.col-lg-6x.secondary
        %h4 1x,md-2x,lg-6x
    %h2 Column
    .grid-row.text-center
      .col-1x
        .grid-col.pad
          .col-1x.primary
            %h4 1x
          .col-1x.tertiary
            %h4 1x
          .col-1x.primary
            %h4 1x
      .col-1x
        .grid-col.pad
          .col-1x.primary
            %h4 1x
          .col-2x.tertiary
            %h4 2x
          .col-1x.primary
            %h4 1x
      .col-1x
        .grid-col.pad
          .col-1x.primary
            %h4 1x
          .col-2x.tertiary
            %h4 2x
    %h1 Buttons
    %h2 Sizes
    .row.pad
      %a.btn.tiny Tiny
      %a.btn.small Small
      %a.btn Normal
      %a.btn.large Large
    .row.pad
      %a.btn.large.expand Large Expanded
    .row.pad
      %a.btn.tiny.expand Tiny Expanded
    %h2 Types
    .row.pad
      .btn
        %a normal
      .btn.btn-hollow
        %a hollow
      .btn.alert
        %a alert
      .btn.failure
        %a failure
      .btn.success
        %a success
    %h2 Shapes
    .row.pad
      %a.btn Normal
      %a.btn.btn-radius Radius
      %a.btn.btn-hollow Hollow
      %a.btn.btn-hollow.btn-radius Radius
    %h2 Groups
    %h3 Normal
    .row.pad
      .btn-group
        %a.btn btn
        %a.btn btn
        %a.btn btn
        %a.btn btn
    %h3 Expanded
    .row.pad
      .btn-group.expand
        %a.btn btn
        %a.btn btn
        %a.btn btn
        %a.btn btn
    %h3 Expanded, Hollow, Radius, Large
    .row.pad
      .btn-group.btn-hollow.expand.btn-radius.large
        %a.btn btn
        %a.btn btn
        %a.btn btn
        %a.btn btn
    %h3 Stacked
    .row.pad
      .col-1x
        .btn-group.btn-stack
          %a.btn btn
          %a.btn btn
          %a.btn btn
          %a.btn btn
  %h1 Typography
  %h2 Sizes
  .row.pad
    %p.tiny Tiny
    %p.small Small
    %p Normal
    %p.large Large
  %h2 Alignment
  .grid-row.pad
    .col-1x.pad.primary.text-left
      %h4 Left
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et odio tempor, varius velit ac, luctus leo. Sed in ipsum sed augue varius elementum.
    .col-1x.pad.secondary.text-center
      %h4 Center
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et odio tempor, varius velit ac, luctus leo. Sed in ipsum sed augue varius elementum.
    .col-1x.pad.primary.text-right
      %h4 Right
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et odio tempor, varius velit ac, luctus leo. Sed in ipsum sed augue varius elementum.
    .col-1x.pad.tertiary.text-justify
      %h4 Justify
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et odio tempor, varius velit ac, luctus leo. Sed in ipsum sed augue varius elementum.
  %h2 Blockquote
  %blockquote
    This is awesome
    %cite Some Awesome Dude
