!!! html5
%html
  %head
    %link{rel:'stylesheet',type:"text/css",href:"css/suckless.css"}
  %body
    .row
      .col.sm-12.lg-4.black
        %h1 lg-4
      .col.sm-12.lg-4.red
        %h1 lg-4
      .col.sm-12.lg-4.black
        %h1 lg-4
    .row
      .col.md-4.lg-3.black
        %h1 lg-3
      .col.md-4.lg-6.red
        %h1 lg-6
      .col.md-4.lg-3.black
        %h1 lg-3
    .row
      .col.lg-2.black
        %h1 lg-2
      .col.lg-4.red
        %h1 lg-4
      .col.lg-2.black
        %h1 lg-6
    .row
      .button-group.expand
        %a.button Button
        %a.button Button
        %a.button Button
        %a.button Button
    .row
      .pad
        .button-group.expand.hollow.radius.large
          %a.button Button
          %a.button Button
          %a.button Button
          %a.button Button
    .row
      %a.button.tiny Tiny
      %a.button.small Small
      %a.button Normal
      %a.button.large Large
    .row
      %a.button.tiny.hollow Tiny
      %a.button.small.hollow Small
      %a.button.hollow Normal
      %a.button.large.hollow Large
    .row
      %a.button.small.hollow.radius Radius
      %a.button.large.hollow.round Round
    .row
      .pad
        %a.button.large.expand Large Expanded
    %ul.menu.vertical
      %li
        %a Item 1
      %li
        %ul.menu
          %li
            %a Item A
          %li
            %a Item B
          %li
            %a Item C
      %li
        %a Item 3