!!! html5
%html
  %head
    %link{rel:'stylesheet',type:"text/css",href:"css/suckless.css"}
  %body
    %h2 Grid
    %h3 Multipliers
    .grid-row.pad.text-center
      .col-1x.primary
        %h4 1x
    .grid-row.pad.text-center
      .col-1x.primary
        %h4 1x
      .col-1x.secondary
        %h4 1x
    .grid-row.pad.text-center
      .col-1x.primary
        %h4 1x
      .col-1x.secondary
        %h4 1x
      .col-1x.primary
        %h4 1x
    .grid-row.pad.text-center
      .col-1x.primary
        %h4 1x
      .col-2x.secondary
        %h4 2x
      .col-1x.primary
        %h4 1x
    .grid-row.pad.text-center
      .col-1x.primary
        %h4 1x
      .col-6x.secondary
        %h4 6x
    %h3 Sizes
    .grid-row.pad.text-center
      .col-1x.col-lg-1x.primary
        %h4 1x
      .col-1x.col-md-2x.col-lg-6x.secondary
        %h4 1x,md-2x,lg-6x
    %h3 Column
    .grid-row.text-center
      .col-1x
        .grid-col.pad
          .col-1x.primary
            %h4 1x
          .col-1x.tertiary
            %h4 1x
          .col-1x.primary
            %h4 1x
      .col-1x
        .grid-col.pad
          .col-1x.primary
            %h4 1x
          .col-2x.tertiary
            %h4 2x
          .col-1x.primary
            %h4 1x
      .col-1x
        .grid-col.pad
          .col-1x.primary
            %h4 1x
          .col-2x.tertiary
            %h4 2x
    .row
      .btn-group.expand
        %a.btn btn
        %a.btn btn
        %a.btn btn
        %a.btn btn
    .btn-group.btn-stack{style:"float: left"}
      %a.btn btn
      %a.btn btn
      %a.btn btn
      %a.btn btn
    .row
      .btn
        %a normal
      .btn.alert
        %a alert
      .btn.failure
        %a failure
      .btn.success
        %a success
    .row
      .pad
        .btn-group.btn-hollow.expand.btn-radius.large
          %a.btn btn
          %a.btn btn
          %a.btn btn
          %a.btn btn
    .row
      %a.btn.tiny Tiny
      %a.btn.small Small
      %a.btn Normal
      %a.btn.large Large
    .row
      %a.btn.tiny.btn-hollow Tiny
      %a.btn.small.btn-hollow Small
      %a.btn.btn-hollow Normal
      %a.btn.large.btn-hollow Large
    .row
      %a.btn.small.btn-hollow.btn-radius Radius
      %a.btn.large.btn-hollow.btn-radius Radius
    .row.pad
      %a.btn.large.expand Large Expanded
    %ul.menu.expand
      %li
        %a Home
      %li.dropdown
        %span Dropdown
        %ul.menu.vertical
          %li
            %a Item 1
          %li
            %a Item 2
          %li
            %a Item 3
    %ul.menu.vertical
      %li
        %a Item 1
      %li
        %ul.menu
          %li
            %a This is a really long item
          %li
            %a Item B
          %li
            %a Item C
      %li
        %a Item 3
    %blockquote
      This is awesome
      %cite Some Awesome Dude
