!!! html5
%html
  %head
    %link{rel:'stylesheet',type:"text/css",href:"css/suckless.css"}
  %body
    .grid-col
      .col-1x.black
        %h1 lg-4x
      .col-1x.red
        .grid-row
          .col-1x.black
            %h1 1
          .col-1x.green
            %h1 2
      .col-1x.black
        %h1 lg-4x
    .grid-row
      .col-1x.col-lg-1x.black
        %h1 lg-3x
      .col-1x.col-lg-2x.red
        %h1 lg-6x
      .col-1x.col-lg-1x.black
        %h1 lg-3x
    .grid-row
      .col-1x.black
        %h1 lg-2x
      .col-2x.red
        %h1 lg-4x
      .col-1x.black
        %h1 lg-6x
    .row
      .btn-group.btn-expand
        %a.btn btn
        %a.btn btn
        %a.btn btn
        %a.btn btn
    .btn-group.btn-stack{style:"float: left"}
      %a.btn btn
      %a.btn btn
      %a.btn btn
      %a.btn btn
    .row
      .pad
        .btn-group.btn-hollow.btn-expand.btn-radius.btn-large
          %a.btn btn
          %a.btn btn
          %a.btn btn
          %a.btn btn
    .row
      %a.btn.btn-tiny Tiny
      %a.btn.btn-small Small
      %a.btn Normal
      %a.btn.btn-large Large
    .row
      %a.btn.btn-tiny.hollow Tiny
      %a.btn.btn-small.hollow Small
      %a.btn.btn-hollow Normal
      %a.btn.btn-large.hollow Large
    .row
      %a.btn.btn-small.hollow.btn-radius Radius
      %a.btn.btn-large.hollow.btn-radius Radius
    .row.pad
      %a.btn.btn-large.btn-expand Large Expanded
    %ul.menu.expand
      %li
        %a Home
      %li.dropdown
        %span Dropdown
        %ul.menu.vertical
          %li
            %a Item 1
          %li
            %a Item 2
          %li
            %a Item 3
    %ul.menu.vertical
      %li
        %a Item 1
      %li
        %ul.menu
          %li
            %a This is a really long item
          %li
            %a Item B
          %li
            %a Item C
      %li
        %a Item 3
