!!! html5
%html{dir:'rtl'}
  %head
    %link{rel:'stylesheet',type:"text/css",href:"css/suckless.css"}
  %body
    .primary
      .btn-group.expand
        %a.btn Suckless.css
        %a.btn Grid
        %a.btn Buttons
    .pad
      %h1 Grid
      %h2 Multipliers
      .row.pad.text-center
        .sm-1.primary
          %h4 .sm-1
      .row.pad.text-center
        .sm-1.primary
          %h4 .sm-1
        .sm-1.secondary
          %h4 .sm-1
      .row.pad.text-center
        .sm-1.primary
          %h4 .sm-1
        .sm-1.secondary
          %h4 .sm-1
        .sm-1.primary
          %h4 .sm-1
      .row.pad.text-center
        .sm-1.primary
          %h4 .sm-1
        .sm-2.secondary
          %h4 .sm-2
        .sm-1.primary
          %h4 .sm-1
      .row.pad.text-center
        .sm-1.primary
          %h4 .sm-1
        .sm-6.secondary
          %h4 .sm-6
      %h2 Sizes
      .row.pad.text-center
        .sm-1.lg-1.primary
          %h4 .sm-1
        .sm-1.md-2.lg-6.secondary
          %h4 .sm-1.md-2.lg-6
      %h2 Column
      .row.text-center
        .sm-1
          .col.pad
            .sm-1.primary
              %h4 .sm-1
            .sm-1.tertiary
              %h4 .sm-1
            .sm-1.primary
              %h4 .sm-1
        .sm-1
          .col.pad
            .sm-1.primary
              %h4 .sm-1
            .sm-2.tertiary
              %h4 .sm-2
            .sm-1.primary
              %h4 .sm-1
        .sm-1
          .col.pad
            .sm-1.primary
              %h4 .sm-1
            .sm-2.tertiary
              %h4 .sm-2
      %h1 Buttons
      %h2 Sizes
      .pad
        %a.btn.tiny Tiny
        %a.btn.small Small
        %a.btn Normal
        %a.btn.large Large
      .pad
        %a.btn.large.expand Large Expanded
      .pad
        %a.btn.tiny.expand Tiny Expanded
      %h2 Types
      .pad
        .btn
          %a normal
        .btn.btn-hollow
          %a hollow
        .btn.alert
          %a alert
        .btn.failure
          %a failure
        .btn.success
          %a success
      %h2 Shapes
      .pad
        %a.btn Normal
        %a.btn.btn-radius Radius
        %a.btn.btn-hollow Hollow
        %a.btn.btn-hollow.btn-radius Radius
      %h2 Groups
      %h3 Normal
      .pad
        .btn-group
          %a.btn btn
          %a.btn btn
          %a.btn btn
          %a.btn btn
      %h3 Expanded
      .pad
        .btn-group.expand
          %a.btn btn
          %a.btn btn
          %a.btn btn
          %a.btn btn
      %h3 Expanded, Hollow, Radius, Large
      .pad
        .btn-group.btn-hollow.expand.btn-radius.large
          %a.btn btn
          %a.btn btn
          %a.btn btn
          %a.btn btn
      %h3 Stacked
      .pad
        .sm-1
          .btn-group.btn-stack
            %a.btn btn
            %a.btn btn
            %a.btn btn
            %a.btn btn
      %h1 Typography
      %h2 Sizes
      .pad
        %p.tiny Tiny
        %p.small Small
        %p Normal
        %p.large Large
      %h2 Alignment
      .row.pad
        .sm-1.pad.primary.text-left
          %h4 Left
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et odio tempor, varius velit ac, luctus leo. Sed in ipsum sed augue varius elementum.
        .sm-1.pad.secondary.text-center
          %h4 Center
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et odio tempor, varius velit ac, luctus leo. Sed in ipsum sed augue varius elementum.
        .sm-1.pad.primary.text-right
          %h4 Right
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et odio tempor, varius velit ac, luctus leo. Sed in ipsum sed augue varius elementum.
        .sm-1.pad.tertiary.text-justify
          %h4 Justify
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et odio tempor, varius velit ac, luctus leo. Sed in ipsum sed augue varius elementum.
      %h2 Blockquote
      %blockquote
        This is awesome
        %cite Some Awesome Dude
