!!! html5
%html
  %head
    %link{rel:'stylesheet',type:"text/css",href:"css/suckless.css"}
  %body
    .row
      .col.sm-12.lg-4.black
        %h1 lg-4
      .col.sm-12.lg-4.red
        %h1 lg-4
      .col.sm-12.lg-4.black
        %h1 lg-4
    .row
      .col.md-4.lg-3.black
        %h1 lg-3
      .col.md-4.lg-6.red
        %h1 lg-6
      .col.md-4.lg-3.black
        %h1 lg-3
    .row
      .col.lg-2.black
        %h1 lg-2
      .col.lg-4.red
        %h1 lg-4
      .col.lg-2.black
        %h1 lg-6
    .row
      .col.lg-2
      .col.lg-8
        .row
          .col.lg-4
            .block.red
              %h1 H1
          .col.lg-4
            .block.black
              %h1 H1
          .col.lg-4
            .block.red
              %h1 H1