!!! html5
%html
  %head
    %link{rel:'stylesheet',type:"text/css",href:"css/suckless.css"}
  %body
    .row
      .col-12.col-md-3.col-lg-4.black
        %h1 lg-4
      .col-12.col-md-6.col-lg-4.red
        %h1 lg-4
      .col-12.col-md-3.col-lg-4.black
        %h1 lg-4
    .row
      .col-4.col-lg-3.black
        %h1 lg-3
      .col-4.col-lg-6.red
        %h1 lg-6
      .col-4.col-lg-3.black
        %h1 lg-3
    .row
      .col-2.black
        %h1 lg-2
      .col-4.red
        %h1 lg-4
      .col-2.black
        %h1 lg-6
    .row
      .btn-group.btn-expand
        %a.btn btn
        %a.btn btn
        %a.btn btn
        %a.btn btn
    .row
      .pad
        .btn-group.hollow.btn-expand.btn-round.large
          %a.btn btn
          %a.btn btn
          %a.btn btn
          %a.btn btn
    .row
      %a.btn.btn-tiny Tiny
      %a.btn.btn-small Small
      %a.btn Normal
      %a.btn.btn-large Large
    .row
      %a.btn.btn-tiny.hollow Tiny
      %a.btn.btn-small.hollow Small
      %a.btn.btn-hollow Normal
      %a.btn.btn-large.hollow Large
    .row
      %a.btn.btn-small.hollow.btn-round round
      %a.btn.btn-large.hollow.btn-round Round
    .row.pad
      %a.btn.btn-large.btn-expand Large Expanded
    %ul.menu.expand
      %li
        %a Home
      %li.dropdown
        %span Dropdown
        %ul.menu.vertical
          %li
            %a Item 1
          %li
            %a Item 2
          %li
            %a Item 3
    %ul.menu.vertical
      %li
        %a Item 1
      %li
        %ul.menu
          %li
            %a This is a really long item
          %li
            %a Item B
          %li
            %a Item C
      %li
        %a Item 3
