!!! html5
%html{dir:''}
  %head
    %meta{charset:'utf-8'}
    %meta{name:"viewport", content:"width=device-width initial-scale=1.0"}
    %script{src:"https://use.fontawesome.com/4fe63499e3.js"}
    %link{rel:'stylesheet',type:"text/css",href:"./suckless.min.css"}
  %body
    #top
    %a{href:'#top'}
      %i.fa.fa-chevron-up.clr-3(simple-top=true)
    #menu.sidebar.left
      .row.clr-3.text-center
        %a.sm-1.pad{href:'#'}
          Close Menu
      %ul
        %li.section General
        %li
          %a{href:'general'} Introduction
        %li.section Base
        %li
          %a{href:'base'} Colors
        %li.section Decoration
        %li
          %a{href:'decoration'} Badges
        %li
          %a{href:'decoration#labels'} Labels
        %li
          %a{href:'decoration#progress'} Progress
        %li.section Helpers
        %li
          %a{href:'helpers'} Alignment
        %li
          %a{href:'helpers#box_model'} Box Model
        %li
          %a{href:'helpers#typography'} Typography
        %li.section Input
        %li
          %a{href:'input'} Buttons
        %li
          %a{href:'input#forms'} Forms
        %li.section Navigation
        %li
          %a{href:'navigation'} Breadcrumbs
        %li
          %a{href:'navigation#icon_bar'} Icon Bar
        %li
          %a{href:'navigation#pagination'} Pagination
        %li
          %a{href:'navigation#sidebar'} Sidebar
        %li.section Structure
        %li
          %a{href:'structure'} Blocks
        %li
          %a{href:'structure#flow'} Flow
        %li
          %a{href:'structure#grid'} Grid
        %li.section Visuals
        %li
          %a{href:'visuals'} Accordian
        %li
          %a{href:'visuals#inline'} Inline
        %li
          %a{href:'visuals#table'} Table
    .col
      .topbar.clr-3
        %a{href:'#menu'}
          %i.fa.fa-fw.fa-bars
        %a{href:'/suckless.css'}
          %i.fa.fa-fw.fa-css3
          Suckless.css
        %ul.icons.shrink
          %li
            %a{href:'about'}
              %i.fa.fa-fw.fa-info
              %span About
          %li
            %a{href:'general'}
              %i.fa.fa-fw.fa-book
              %span Docs
          %li
            %a{href:'http://github.com/DataDrake/suckless.css'}
              %i.fa.fa-fw.fa-github
              %span Dev
      .pad.limit.center
        %h1{id:'introduction'} Introduction
        %h2 Compatibility
        %p
          Browser support has been limited to:
          %i Google Chrome, Mozilla Firefox, Safari, and Microsoft Edge.
          As most mobile browsers are built using WebKit or Blink as a base, you can
          expect them to function appropriately. There are no plans to ever support
          older browser engines as significant portions of this library depend on newer
          CSS3 features like Flexbox.
        %p
          This library does not depend on JavaScript for its functionality in any way
          and may therefore be used in environments that either require JS to be disabled
          or that lack a JS engine.
        %h2 Organization
        %p Suckless.css has been broken up into several categories of modules:
        .flow
          .col.outline
            .clr-3.pad
              %span Base
            .clr-3-i.pad
              %p
                This category contains all of the global classes that are extended
                in other places, as well as resets for client stylesheets and color
                classes which may be used for theming elements.
              .text-right
                %a.btn.small{href:'base'}
                  More
                  %i.fa.fa-fw.fa-arrow-right
          .col.outline
            .clr-3.pad
              %span Decoration
            .clr-3-i.pad
              %p
                Decorations are stylized elements which may be used as "eye-candy"
                in web pages. These elements are typically used to convey information
                to users, in a manner that is visually unobtrusive.
              .text-right
                %a.btn.small{href:'decoration'}
                  More
                  %i.fa.fa-fw.fa-arrow-right
          .col.outline
            .clr-3.pad
              %span Helpers
            .clr-3-i.pad
              %p
                The classes defined in this category may be used to aid in the general
                manipulation of the position, alignment, and box-model of any element
                in a document.
              .text-right
                %a.btn.small{href:'helpers'}
                  More
                  %i.fa.fa-fw.fa-arrow-right
          .col.outline
            .clr-3.pad
              %span Input
            .clr-3-i.pad
              %p
                Style classes have been provided for creating button links and for
                creating forms which are visually consistent across the major browsers.
              .text-right
                %a.btn.small{href:'input'}
                  More
                  %i.fa.fa-fw.fa-arrow-right
          .col.outline
            .clr-3.pad
              %span Navigation
            .clr-3-i.pad
              %p
                The navigation modules provide functional elements that allow users to
                traverse the contents of both a single page and the links to others.
              .text-right
                %a.btn.small{href:'navigation'}
                  More
                  %i.fa.fa-fw.fa-arrow-right
          .col.outline
            .clr-3.pad
              %span Structure
            .clr-3-i.pad
              %p
                Three different layouts have been provided to allow for responsive
                scaffolding of page contents: Block, Flow, and Grid.
              .text-right
                %a.btn.small{href:'structure'}
                  More
                  %i.fa.fa-fw.fa-arrow-right
          .col.outline
            .clr-3.pad
              %span Themes
            .clr-3-i.pad
              A number of themes have been provided which allow Suckless.css to be
              immediately put into use, without the need to develop a color scheme
              for a new site. They also serve as examples should you decide to create
              custom themes.
          .col.outline
            .clr-3.pad
              %span Visuals
            .clr-3-i.pad
              %p
                This module contains elements which may be used inside of a document to
                provide uniform and visually compelling displays of information.
              .text-right
                %a.btn.small{href:'visuals'}
                  More
                  %i.fa.fa-fw.fa-arrow-right
    %footer
      .text-center.clr-1.pad
        %p
          Copyright &copy; 2017
          %a{href: 'mailto:bmeyers@datadrake.com',style:'color:#FFF'} Bryan T. Meyers