!!! html5
%html{dir:''}
  %head
    %meta{charset:'utf-8'}
    %meta{name:"viewport", content:"width=device-width initial-scale=1.0"}
    %script{src:"https://use.fontawesome.com/4fe63499e3.js"}
    %link{rel:'stylesheet',type:"text/css",href:"./suckless.min.css"}
  %body
    #top
    %a{href:'#top'}
      %i.fa.fa-chevron-up.clr-3(simple-top=true)
    #menu.sidebar.left
      .row.clr-3.text-center
        %a.sm-1.pad{href:'#'}
          Close Menu
      %ul
        %li.section General
        %li
          %a{href:'general'} Introduction
        %li.section Base
        %li
          %a{href:'base'} Colors
        %li.section Decoration
        %li
          %a{href:'decoration'} Badges
        %li
          %a{href:'decoration#labels'} Labels
        %li
          %a{href:'decoration#progress'} Progress
        %li.section Helpers
        %li
          %a{href:'helpers'} Alignment
        %li
          %a{href:'helpers#box_model'} Box Model
        %li
          %a{href:'helpers#typography'} Typography
        %li.section Input
        %li
          %a{href:'input'} Buttons
        %li
          %a{href:'input#forms'} Forms
        %li.section Navigation
        %li
          %a{href:'navigation'} Breadcrumbs
        %li
          %a{href:'navigation#icon_bar'} Icon Bar
        %li
          %a{href:'navigation#pagination'} Pagination
        %li
          %a{href:'navigation#sidebar'} Sidebar
        %li.section Structure
        %li
          %a{href:'structure'} Blocks
        %li
          %a{href:'structure#grid'} Grid
        %li.section Visuals
        %li
          %a{href:'visuals'} Accordian
        %li
          %a{href:'visuals#inline'} Inline
        %li
          %a{href:'visuals#table'} Table
    .col
      .topbar.clr-3
        %a{href:'#menu'}
          %i.fa.fa-fw.fa-bars
        %a{href:'/'}
          %i.fa.fa-fw.fa-css3
          Suckless.css
        %ul.icons.shrink
          %li
            %a{href:'about'}
              %i.fa.fa-fw.fa-info
              %span About
          %li
            %a{href:'general'}
              %i.fa.fa-fw.fa-book
              %span Docs
          %li
            %a{href:'http://github.com/DataDrake/suckless.css'}
              %i.fa.fa-fw.fa-github
              %span Dev
      .row
        .sm-1.md-3.lg-4.col.pad-2
          %h1 Coming Soon
    %footer
      .text-center.clr-1.pad
        %p
          Copyright &copy; 2017
          %a{href: 'mailto:bmeyers@datadrake.com',style:'color:#FFF'} Bryan T. Meyers