!!! html5
%html{dir:''}
  %head
    %meta{charset:'utf-8'}
    %meta{name:"viewport", content:"width=device-width initial-scale=1.0"}
    %script{src:"https://use.fontawesome.com/4fe63499e3.js"}
    %link{rel:'stylesheet',type:"text/css",href:"./suckless.min.css"}
  %body
    #top
    %a{href:'#top'}
      %i.fa.fa-chevron-up.clr-3(simple-top=true)
    #menu.sidebar.left
      .row.clr-3.text-center
        %a.sm-1.pad{href:'#'}
          Close Menu
      %ul
        %li.section
          %a{href:'general'} General
        %li
          %a{href:'general#introduction'} Introduction
        %li.section
          %a{href:'base'} Base
        %li
          %a{href:'base#colors'} Colors
        %li.section
          %a{href:'decoration'} Decoration
        %li
          %a{href:'decoration#badges'} Badges
        %li
          %a{href:'decoration#labels'} Labels
        %li
          %a{href:'decoration#progress'} Progress
        %li.section
          %a{href:'helpers'} Helpers
        %li
          %a{href:'helpers#alignment'} Alignment
        %li
          %a{href:'helpers#box_model'} Box Model
        %li
          %a{href:'helpers#typography'} Typography
        %li.section
          %a{href:'input'} Input
        %li
          %a{href:'input#buttons'} Buttons
        %li
          %a{href:'input#forms'} Forms
        %li.section
          %a{href:'navigation'} Navigation
        %li
          %a{href:'navigation#breadcrumbs'} Breadcrumbs
        %li
          %a{href:'navigation#icon_bar'} Icon Bar
        %li
          %a{href:'navigation#pagination'} Pagination
        %li
          %a{href:'navigation#sidebar'} Sidebar
        %li.section
          %a{href:'structure'} Structure
        %li
          %a{href:'structure#blocks'} Blocks
        %li
          %a{href:'structure#flow'} Flow
        %li
          %a{href:'structure#grid'} Grid
        %li.section
          %a{href:'visuals'} Visuals
        %li
          %a{href:'visuals#accordian'} Accordian
        %li
          %a{href:'visuals#inline'} Inline
        %li
          %a{href:'visuals#table'} Table
    .col
      .topbar.clr-3
        %a{href:'#menu'}
          %i.fa.fa-fw.fa-bars
        %a{href:'/suckless.css'}
          %i.fa.fa-fw.fa-css3
          Suckless.css
        %ul.icons.shrink
          %li
            %a{href:'about'}
              %i.fa.fa-fw.fa-info
              %span About
          %li
            %a{href:'general'}
              %i.fa.fa-fw.fa-book
              %span Docs
          %li
            %a{href:'http://github.com/DataDrake/suckless.css'}
              %i.fa.fa-fw.fa-github
              %span Dev
      .row.limit.center
        .sm-1.md-3.lg-4.col.pad-2
          %h1 Input
          %h2{id:'buttons'}
            Buttons
            %i.fa.fa-fw.fa-hand-pointer-o
          .flow
            .col.info-i.outline
              .info.pad
                %b Motivation
              .pad
                %b
                  Buttons are essential input sources that allow a user to
                  control navigation, transmit data, or interact with dynamic
                  page content.
            .col.good-i.outline
              .good.pad
                %b Philosophy
              .pad
                %b
                  If it looks like a button, it is a button and must act like a
                  button.
          %h3 Sizes
          .row
            %p
              %a.btn.tiny .tiny
              %a.btn.small .small
              %a.btn normal
              %a.btn.large .large
          %a.btn.large.expand .large.expand
          %a.btn.tiny.expand .tiny.expand
          %h3 Types
          .row
            %p
              %a.btn normal
              %a.btn.hollow .hollow
              %a.btn.warn
                %i.fa.fa-warning
                %span .warn
              %a.btn.error
                %i.fa.fa-close
                %span .error
              %a.btn.good
                %i.fa.fa-check
                %span .good
          %h3 Shapes
          .row
            %p
              %a.btn normal
              %a.btn.radius .radius
              %a.btn.hollow .hollow
              %a.btn.hollow.radius .hollow.radius
          %h3 Groups
          %h4 Normal
          .btn-group
            %a.btn btn
            %a.btn btn
            %a.btn btn
            %a.btn btn
          %b HAML
          .pad
            %pre
              %code
                :preserve
                  .btn-group
                    %a.btn btn
                    %a.btn btn
                    %a.btn btn
                    %a.btn btn
          %h4 Hollow, Radius, Large
          .btn-group.hollow.radius.large
            %a.btn btn
            %a.btn btn
            %a.btn btn
            %a.btn btn
          %b HAML
          .pad
            %pre
              %code
                :preserve
                  .btn-group.hollow.radius.large
                    %a.btn btn
                    %a.btn btn
                    %a.btn btn
                    %a.btn btn
          %h4 Stacked
          .row
            .sm-1.btn-group.stack
              %a.btn btn
              %a.btn btn
              %a.btn btn
              %a.btn btn
            .sm-1.lg-3
          %b HAML
          .pad
            %pre
              %code
                :preserve
                  .sm-1.btn-group.stack
                    %a.btn btn
                    %a.btn btn
                    %a.btn btn
                    %a.btn btn
                  .sm-1.lg-3
          %h2{id:'forms'}
            Forms
            %i.fa.fa-fw.fa-clipboard
          .flow
            .col.info-i.outline
              .info.pad
                %b Motivation
              .pad
                %b
                  Forms are one of the oldest ways for user to send information
                  to a web server. They are useful for providing paper-like
                  data collection.
            .col.good-i.outline
              .good.pad
                %b Philosophy
              .pad
                %b
                  Forms should have a similar appearance, even on different
                  browsers. Selected form elements should visual indicate that
                  they are selected.
          %h3 Examples
          .flow
            .col
              %h5.text-center Legends
              %form{id:'test'}
                %legend This is a form legend
            .col
              %h5.text-center  Dropdown
              %select
                %option{value:'A'} Apple
                %option{value:'B'} Banana
                %option{value:'C'} Cherry
            .col
              %h5.text-center  Multiple-Select
              %select{multiple:'true'}
                %option{value:'A'} Apple
                %option{value:'B'} Banana
                %option{value:'C'} Cherry
            .col
              %h5.text-center  Labelled Input
              %label{for:'name'}
                Name
                %br
                %input{type:'text', name:'name'}
            .col
              %h5.text-center  Pre/Post Group
              .input-group
                .input-pre
                  Pre
                %input{type:'text'}
                .input-post
                  Post
            .col
              %h5.text-center  Text Area
              %textarea Tell me a story...
            .col
              %h5.text-center  Search via Post
              .input-group
                %input{type:'search'}
                .input-post
                  %i.fa.fa-search
            .col
              %h5.text-center  Reset/Submit Buttons
              %button{type:'reset',form:'test',value:'Reset'} Reset
              %input.btn{type:'submit',value:'Submit'}
          %h3 Complete Example
          %h5 Example User Form
          %form.col{id:'test2'}
            %fieldset.pad{id:'name'}
              %legend Name
              .row.sm-col
                .col.sm-2.pad
                  %label{for:'first'}
                    First
                    %br
                    %input{type:'text', name:'first'}
                .col.sm-1.pad
                  %label{for:'initial'}
                    M.I.
                    %br
                    %input{type:'text', name:'initial'}
                .col.sm-2.pad
                  %label{for:'last'}
                    Last
                    %br
                    %input{type:'text', name:'last'}
            .pad
            %fieldset.pad{id:'contact'}
              %legend Contact Info
              .row.sm-col
                .col.sm-1.pad
                  %label{for:'phone'}
                    Phone
                    %br
                    .input-group
                      .input-pre
                        %span 1-
                      %input{type:'telephone', name:'phone', placeholder:'(555) 1234'}
                .col.sm-1.pad
                  %label{for:'email'}
                    Email
                    %br
                    %input{type:'email', name:'last', placeholder:'name@example.com'}
            .row
              %input.btn.warn.sm-1{id:'reset',type:'reset',form:'test2',value:'Reset'}
              .lg-2.lg-only
              %input.btn.good.sm-1{id:'submit',type:'submit',form:'test2',value:'Submit'}
    %footer
      .text-center.clr-1.pad
        %p
          Copyright &copy; 2017-2018
          %a{href: 'mailto:bmeyers@datadrake.com',style:'color:#FFF'} Bryan T. Meyers