/*
 * Visuals - Accordian
 */
.accordian
  @extend %flex-column
  > div
    @extend %flex-column
    flex: 1
    margin: $accordian-section-margin
  input
    display: none
  input:checked
    ~ .col,~ .row
      height: initial
  input:checked + label:after
    content: '\25b2'
  label
    padding: $accordian-label-padding
    width: 100%
    &:after
      content: '\25bc'
      float: right
  .row,.col
    height: 0
    overflow: hidden
@if $enable-rtl
  html[dir=rtl]
    .accordian
      label:after
        float: left