/*
 * Helpers - Typography
 */

// Headers
h1,h2,h3,h4,h5,h5,h6,span
  margin: $header-margins
h1
  font-size: $header-1-size
  text-align: center
h2
  font-size: $header-2-size
  border-bottom: 0.125rem solid
h3
  font-size: $header-3-size
  border-bottom: 1px dashed
h4
  font-size: $header-4-size
h5
  font-size: $header-5-size
h6
  font-size: $header-6-size

// Alignment Modifiers
.text-center
  text-align: center
.text-justify
  text-align: justify
.text-left
  text-align: left
.text-right
  text-align: right

// List Modifiers
.hide-bullet
  @extend %hide-bullet

.inline-list
  @extend %flex

// Size Modifiers
.tiny
  font-size: $tiny-size
.small
  font-size: $small-size
.large
  font-size: $large-size