/*
 * Structure - Blocks
 */

.blk
  @extend %flex-column
  > *
    margin: $block-margin-tb $block-margin-lr

@mixin blocks-normal
  .blk
    flex-wrap: wrap
    flex-direction: row
  @for $count from 1 to $block-max + 1
    .blk-#{$count}
      > *
        width: (100%/$count)-(2*$block-margin-lr)




