/*
 * Settings
 */


// List of numbers of blocks per row to support
$block-max: 6

/*
 * Definitions
 */

.blocks
  display: flex
  flex-wrap: wrap
  flex-direction: column
  *
    align-items: stretch
    width: 100%

// Specific attributes
@mixin blocks
  .blocks
    flex-direction: row
    > *
      display: flex
  @for $count from 1 to $block-max + 1
    .block-#{$count}
      width: (100%*$count)/$block-max
