/*
 * Settings
 */

// Box Model
$crumbs-padding: 0.25rem

/*
 * Description
 */

.crumbs
  @extend %hide-bullet
  @extend %horizonatal-list
  li::after
    content: '\276f'
    padding: $crumbs-padding $crumbs-padding $crumbs-padding 0
  li:last-child::after
    content: none

html[dir=rtl]
  .crumbs li::after
    padding: $crumbs-padding 0 $crumbs-padding $crumbs-padding