/*
 * Navigation - Icon Bar
 */

.icons
  @extend %hide-bullet
  @extend %flex
  > li
    @extend %flex
    flex: 1
  .divider
    flex: none
    border: $divider-border-width solid
  a
    flex: 1
    text-align: center
    padding: $icon-padding
    > *
      margin: 0 auto
  &.shrink
    a span
      display: none
    a:hover span
      display: initial
  &.stack
    a
      @extend %flex-column
  &.vertical
    display: inline-flex
    @extend %flex-column
    .divider
      margin: 0 $icon-padding