/*
 * Settings
 */


// Colors
$paginate-button-selected: #CCC

// Box Model
$paginate-button-margin: 0.25rem
$paginate-button-padding: 0.375rem 0.75rem
$paginate-button-radius: 0.25rem


/*
 * Definitions
 */


.pager
  display: flex
  > a
    margin: $paginate-button-margin
    padding: $paginate-button-padding
    &:hover,&.here
      background: $paginate-button-selected
      border-radius: $paginate-button-radius
@if $enable-rtl
  html[dir=rtl]
    .pager
      flex-direction: row-reverse