/*
 * Navigation - Pagination
 */

.pager
  @extend %flex
  > a
    margin: $pager-button-margin
    padding: $pager-button-padding
    &:hover,&.here
      background: $pager-button-selected
      border-radius: $pager-button-radius
@if $enable-rtl
  html[dir=rtl]
    .pager
      flex-direction: row-reverse