/*
 * Settings
 */

$sidebar-section-bg: #BBB
$sidebar-item-bg: #EEE
$sidebar-item-fg: #333

@if $theme-mode == 'dark'
  $sidebar-section-bg: #666
  $sidebar-item-bg: #333
  $sidebar-item-fg: #FFF


$sidebar-item-padding: 0.5rem 1rem
$sidebar-section-padding: 0.25rem 1rem
$sidebar-section-margin: 1rem
$sidebar-width: 12rem

/*
 * Definitions
 */
#menu
  transition: all 0.2s ease
  margin-left: -$sidebar-width
  width: $sidebar-width
  position: fixed
  right: 0
#menu:target
  transition: all 0.2s ease
  margin-left: 0
.sidebar
  color: $sidebar-item-fg
  background: $sidebar-item-bg
  ul
    @extend %hide-bullet
    height: 100%
  li
    padding: $sidebar-item-padding
  li.section
    background: $sidebar-section-bg
    margin-top: $sidebar-section-margin
    padding: $sidebar-section-padding
    font: 10pt monospace
    font-weight: bold
    text-transform: uppercase
    &:first-child
      margin: 0
  a
    display: block
html[dir=rtl]
  #menu
    margin-left: 0
    margin-right: -$sidebar-width
  #menu:target
    margin-right: 0
