/*
 * Navigation - Sidebar
 */
.sidebar
  text-align: center
  width: 100%
  float: none
  position: absolute
  color: $sidebar-item-fg
  background: $sidebar-item-bg
  border-left: 1px solid #777
  border-right: 1px solid #777
  ul
    @extend %hide-bullet
    min-height: 100vh
    margin-bottom: $sidebar-section-margin
  li
    padding: $sidebar-item-padding
  .section
    background: $sidebar-section-bg
    margin-top: $sidebar-section-margin
    padding: $sidebar-section-padding
    font: 10pt monospace
    font-weight: bold
    text-transform: uppercase
    &:first-child
      margin: 0
  a
    display: block

@mixin sidebar-size()
  .sidebar
    width: $sidebar-width
    li
      margin-left: auto
      margin-right: auto
  .sidebar.left
    left: -$sidebar-width
  .sidebar.right
    right: -$sidebar-width
  @if $enable-rtl
    html[dir=rtl]
      .sidebar.left
        right: -$sidebar-width
      .sidebar.right
        left: -$sidebar-width

@mixin sidebar($location)
  #{$location}: -100%
  &:target
    #{$location}: 0

.sidebar.left
  @include sidebar(left)

.sidebar.right
  @include sidebar(right)

@if $enable-rtl
  html[dir=rtl]
    .sidebar.left
      @include sidebar(right)
    .sidebar.right
      @include sidebar(left)
