/*
 * Navigation - Sidebar
 */
#menu
  transition: all 0.2s ease
  margin-left: -$sidebar-width
  width: $sidebar-width
  position: absolute
  left: 0
  color: $sidebar-item-fg
  background: $sidebar-item-bg
  ul
    @extend %hide-bullet
    height: 100%
  li
    padding: $sidebar-item-padding
  .section
    background: $sidebar-section-bg
    margin-top: $sidebar-section-margin
    padding: $sidebar-section-padding
    font: 10pt monospace
    font-weight: bold
    text-transform: uppercase
    &:first-child
      margin: 0
  a
    display: block
#menu:target
  transition: all 0.2s ease
  margin-left: 0
@if $enable-rtl
  html[dir=rtl]
    #menu
      right: 0
      margin-left: 0
      margin-right: -$sidebar-width
    #menu:target
      margin-right: 0
