/*
 * Navigation - Topbar
 */

.topbar
  @extend %flex
  width: 100%
  .icons
    flex: 1
    justify-content: flex-end
  li
    flex: 0 auto
  a
    padding: $navbar-anchor-padding
    border-left: $navbar-anchor-border-width solid $navbar-anchor-border-color
@if $enable-rtl
  html[dir=rtl]
    .topbar
      a
        border-left: none
        border-right: $navbar-anchor-border-width solid $navbar-anchor-border-color