/*
 * Navigation - Top
 */
[simple-top]
  position: fixed
  bottom: $top-inset
  right: $top-inset
  padding: $top-padding
  border: $top-border-width solid #FFF

@if $enable-rtl
  html[dir=rtl]
    [simple-top]
      left: $top-inset
      right: auto
